# the configuration file for all reference/annotation input files needed for asarp
# lines beginning with "#" are comments. 
# format for annotation file: file_var TAB file_path 
# (NO space is allowed before TAB or within file_path)
# users can change the file_path accordingly, but NOT the file_var
#
# Prepared by Dr. Cyrus Tak-Ming Chan
# For questions and comments, please email Dr. Grace Xiao gxxiao@ucla.edu

# ################ Your input data/path specific ################
# the file for the candidate heterozygous snvs
snpfile	data/snp.list.fig3
# the folder for reads in bedgraph format
# IMPORTANT: standard is 0-based start, and 1-based end
# http://genome.ucsc.edu/goldenPath/help/bedgraph.html
bedfolder	data/
# every chromosome file must be formatted as: chr*.bedext 
# (you don't need to add the dot for bedext in the next line)
# [optional] the extension after chr*. for the bedgraph files 
# in the bedgraph folder, default is bedgraph
bedext	sam.bed

# [optional] the ranseq related annotation 
# needs to be derived from both the reads and annotations below
# rnaseqfile	   data/rnaseq.event  


# ############### Non-data specific annotations ###########
# i.e. you do not need to change them for different RNA-Seq datasets 
# (provided they are for the same organism, e.g. hg19 here)
# gene annotation merging ensembl Refseq, UCSC knowngene, Gencode gene, and Vegagene
xiaofile	data/hg19.merged.to.ensg.all.tx.03.18.2011.txt
# annotation splicing events as annotated in the above file
# (xiaofname).  The format is the same as that for rnaseq_event.
splicingfile	data/annotation.event
# [optional] est annotation
estfile	data/est.event
# [optional] strand-specific flag: 
# set: 1
# unset: 0 or not input (default)
# note: snv/bedgraph formats are different for set and unset strandflags
#strandflag	1
