# the configuration file for all reference/annotation input files needed for asarp
# lines beginning with "#" are comments. 
# format for annotation file: file_var TAB file_path 
# (NO space is allowed before TAB or within file_path)
# users can change the file_path accordingly, but NOT the file_var
#
# Prepared by Dr. Cyrus Tak-Ming Chan
# For questions and comments, please email Dr. Grace Xiao gxxiao@ucla.edu

# ################ Your input data/path specific ################
# the file for the candidate heterozygous snvs
snpfile	data/fake.snp.list
# the folder for reads in bed format
bedfolder	data/
#the path for the reference genome (e.g. hg19 for human)
# The ASARP script dose not need the genome path for all chromosomes genomepath	/home/cyrus/Development/hg19/CHR   
#/groups/xiao/apps/genomes/hg19/CHR/
# the ranseq related annotation 
# which needs to be derived from both the reads and existing annotations (see below)
rnaseqfile	   data/rnaseq.event  


# ############### Non-data specific annotations ###########
# i.e. in general you do not need to modify them
# gene annotation merging ensembl Refseq, UCSC knowngene, Gencode gene, and Vegagene
xiaofile	data/hg19.merged.to.ensg.all.tx.03.18.2011.txt
# annotation splicing events as annotated in the above file
# (xiaofname).  The format is the same as that for rnaseq_event.
splicingfile	data/annotation.event
# est annotation
estfile	data/est.event
